
body{
    background-color: beige;
    color:midnightblue;
    font-style:italic;
}
table{
    color: black;
    border-color: blueviolet;
    background-color: blanchedalmond;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.boton{
    align-items: center;
    left: 500pxs;
}
.menu {
    background-color: beige;
    border-radius: 5px;
    border-color: beige;
}
.menu:hover {
    background-color:burlywood;
    border-radius: 5px;
    border-color: burlywood;
}
.descripcion {
    text-align: center;
}
h3{
    color: blueviolet;
    text-align: center;
}
