body{
    background-color: aquamarine;
    color:midnightblue;
    font-style:italic;
}
table{
    color: black;
    border-color: blueviolet;
    background-color: blanchedalmond;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.caja{
    color: blueviolet;
    text-align: center;
}
.descripcion {
    text-align: center;
}
h3{
    color: blueviolet;
}


